{# A form to process logins. Note there is no action defined for the form. #}
{# On this page I have the same page handling the post as well as the render #}
<form action="" method="post">
    {# All forms must include a CSRF token to prevent forgary. #}
    {% csrf_token %}
    {# We passed the login_form in the contest from:  #}
    {# twanger.site.views.LoginPostView.get_context_data(). The method as_p #}
    {# renders each field on the form inside a <p> #}
    {{ login_form.as_p }}
    {# Have to provide our own submit button. #}
    <input type="submit"/>
</form>