body {
    margin: 30px;
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

a {
    color: #3aaaff;
    text-decoration: none;
}

a:visited {
    color: #3565B4;
}

div.navigation ul {
    padding: 0;
}

div.navigation li {
    display: inline-block;
}

div.navigation li a {
    padding: 4px;
}

div.navigation li a:visited {
}

h1.page-heading {
}

div.content {
    padding: 10px;
}

