body {
    background-color: #306b86;
    margin: 80px;
}

a {
    color: #29506D;
}

a:visited {
    color: #29506D;
}

div.navigation {
    color: white;
}

div.navigation ul {
    margin: 0;
    padding: 0;
}

div.navigation li {
    display: inline-block;
    padding: 1px 10px 1px 1px;
}

div.navigation li a {
    background-color: #29506D;
    padding: 4px;
    border-radius: 2px;
    color: white;
}

div.navigation li a:visited {
    color: white;
}

h1.page-heading {
    color: #54c0ff;
}

div.content {
    background-color: white;
    padding: 20px;
}

div.content a {
    color: #042037;
}

div.content a:visited {
    color: #042037;
}
