<a href="{% url 'request:create' %}"> create request </a>
{% if latest_request %}
    <table style ='width:100%'>
    	<tr>
    		<td>Title</td>
    		<td>Author</td>
    		<td>Edition</td>
    		<td>Year</td>
    		<td>Price</td>
    		<td>Approved</td>
    	</tr>
    {% for resource in latest_request %}
    	<tr>
    		<td><a href="{% url 'request:detail' resource.id %}">{{ resource.title }}</a></td>
    		<td>{{resource.author}}</td>
    		<td>{{resource.edition}}</td>
    		<td>{{resource.pub_year}}</td>
    		<td>{{resource.price}}</td>
    		<td>{{resource.approved}}</td>
    		
    	</tr>
    {% endfor %}
{% else %}
    <p>No resources are available.</p>
{% endif %}

<form action="{% url 'request:search' %}" method ="GET"> 
	<input type="text" name="q">
	<input type="submit" value="Search">
</form>

<ul>
    {% for resource in results %}
        <li><a href="{% url 'request:detail' resource.id %}">{{ resource.title }}</a></li>
    {% endfor %}
</ul>